# Node/Vite/React
frontend/node_modules/
frontend/dist/

# TypeScript
frontend/*.tsbuildinfo
frontend/.env

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/env/
backend/env.bak/
backend/*.egg-info/
backend/db.json
backend/src/__pycache__/
backend/src/services/__pycache__/
backend/src/temporal/__pycache__
backend/tests/__pycache__
backend/scripts

# macOS
.DS_Store

# General
*.log
.env
.claude 